@import "layout/var";

.reviews {
  border-bottom: em(1) solid $body-color;
  padding: 0 0 em(16);

  &--no_border {
    border: 0;
  }

  &__slider {
    padding: em(35) 0 0;
    margin: em(17) 0 0 $side-padding;
  }

  &__slide {
    padding-right: $side-padding;
  }

  &__person {
    display: flex;
    align-items: center;
  }

  &__ava {
    width: em(56);
    height: em(56);
    background-size: cover;
    background-position: center;
  }

  &__description {
    margin-left: em(18);
  }

  &__text {
    font-size: em(14);
    line-height: 1.43;
    margin: 0;
  }

  &__name {
    font-weight: $bold;
  }

  &__for {
    font-weight: $bold;
    color: $blue;
  }

  &__content {
    margin: em(20) 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-size: 14px;
    line-height: 1.14;
    color: $back-grey;
  }

  &__link {
    color: $back-grey;
    font-size: em(14);
    text-decoration: underline;
  }

  &__stars {
    display: flex;
    align-items: center;
    margin-top: em(6);

    span {
      color: $main-grey;
      font-size: em(12);
      font-style: $regular;
      margin-left: em(10,12);
    }

    &--big {
      margin-top: 0;
      margin-left: em(30);

      span {
        font-size: em(14);
        font-weight: $bold;
      }
    }
  }

  &__star {
    margin-right: 3px;

    path {
      opacity: 0.2;
    }

    &--full {
      path {
        opacity: 1;
      }
    }
  }
}