@import "layout/var";

.about {
  position: relative;

  &__slider {
    height: em(360);
  }

  &__slide {
    height: em(360);
    background-size: cover;
    background-position: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: em(140);
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
      z-index: 0;
    }
  }

  &__text {
    font-size: em(14);
    line-height: 1.29;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 em(15,14);
    position: absolute;
    top: em(43,14);
    z-index: 1;
  }

  &__num {
    font-size: em(43);
    font-family: $top-title-font;
    font-weight: $bold;
    margin-right: em(16,43);
  }




  &__dots {
    top: em(19);
    left: $side-padding;

    li {
      background: transparent;
      border-color: transparent;

      button {
        font-size: em(16);
        width: em(6);
        height: em(6);
        background: white;
        border-radius: 50%;
      }

      &.slick-active {
        background: transparent;
        border-color: white;

        button {
          background: transparent;
        }
      }
    }
  }
}