@import "layout/var";

.footer {
  background: white;
  padding: $side-padding 0 em(28);

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 $side-padding;
  }

  &__socials {
    display: flex;
  }

  &__soc {
    margin-right: em(18);
  }

  &__contacts {
    margin: em(20) $side-padding 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-size: em(14);
    font-weight: $regular;
    color: $main-grey;
    margin-top: em(8,14);
    display: inline-block;
    text-decoration: underline;
  }

  &__payments {
    margin: em(22) $side-padding 0;

    img {
      max-width: em(35);
    }
  }

  &__menu {
    margin: em(14) $side-padding em(32);
    padding: 0;
    list-style: none;
  }

  &__copyright {
    border-top: em(1,14) solid $body-color;
    padding: em(28,14) $side-padding 0;
    color: $light-grey;
    font-size: em(14);
    font-weight: $regular;
    line-height: 1.43;
  }
}