@import "layout/var";

.location-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    position: relative;
    padding: $side-padding $side-padding em(12) $side-padding;
    flex-shrink: 0;
  }

  &__close {
    width: em(24);
    height: em(24);
    position: absolute;
    top: em(24);
    right: em(24);
    background: url('../img/x.svg') no-repeat center;
    background-size: em(14);
  }

  &__input {
    font-size: em(16);
    line-height: 1.5;
    font-weight: $bold;
    width: 100%;
    padding: em(8) em(16);
    border: 1px solid $blue;
    border-radius: em(4);
    color: $main-grey;
  }

  &__list {
    overflow-y: auto;
    height: 100%;
  }

  &__item {
    font-size: em(14);
    line-height: em(24,14);
    padding: em(10,14) em(15,14) em(14,14);
    border-bottom: em(1,14) solid $body-color;
    color: $main-grey;
  }

  &__country {
    color: $light-grey;
  }
}