@import "layout/var";

.card {
  background: white;
  box-shadow: 0 0 em(21) 0 rgba(0, 0, 0, 0.11);
  padding: em(20) 0 em(24);
  overflow-x: hidden;
  margin-top: em(24);

  &:first-child {
    margin-top: 0;
  }

  &__title {
    font-size: em(18);
    font-weight: $bold;
    color: $main-grey;
    margin: 0 $side-padding;
  }

  &__award {
    margin: 0 em(15,12);
    font-size: em(12);
    font-weight: $bold;
    line-height: 1.17;
    padding-left: em(44,12);
    height: em(32,12);
    display: flex;
    align-items: center;
    position: relative;
    width: em(95,12);
    margin-top: em(12,12);

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: em(32,12);
      height: em(32,12);
      left: 0;
      top: 0;
      background-position: center;
      background-size: cover;
    }

    &--choice {
      color: $green;

      &:before {
        background-image: url('../img/award-choice.svg');
      }
    }

    &--price {
      color: $purple;

      &:before {
        background-image: url('../img/award-price.svg');
      }
    }
  }

  &__photos {
    margin-top: em(19);
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar-button {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
  }

  &__image {
    width: em(288);
    height: em(200);
    border-radius: em(4);
    background-size: cover;
    background-position: center;
    margin-right: em(4);
    flex-shrink: 0;

    &:first-child {
      margin-left: $side-padding;
    }
  }

  &__description {
    margin: $side-padding $side-padding 0;
  }

  &__text-line {
    display: flex;
    margin-bottom: 7px;
  }

  &__text {
    font-size: em(12);
    line-height: em(20,12);
    position: relative;
    display: block;
    color: $main-grey;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
    }

    &--place {
      padding-left: em(24,12);

      &:before {
        top: 0;
        width: em(20,12);
        height: em(20,12);
        background: url('../img/place.svg') no-repeat center;
      }
    }

    &--marker {
      padding-left: em(17,12);
      margin-left: em(11,12);

      &:before {
        width: em(6,12);
        height: em(6,12);
        background: $body-color;
        border-radius: 50%;
        top: em(7,12);
      }
    }

    &--fire {
      padding-left: em(24,12);

      &:before {
        top: 0;
        width: em(20,12);
        height: em(20,12);
        background: url('../img/fire.svg') no-repeat center top;
      }
    }

    &--bold {
      font-weight: $bold;
    }

    &--fire {
      color: $orange;
    }
  }

  &__options {
    margin-top: em(25);
  }

  &__bottom {
    margin: em(32) $side-padding 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    color: $aqua;
    font-family: $top-title-font;
    font-size: em(16);
    display: flex;
    align-items: center;
  }

  &__amount {
    font-size: em(22,16);
    line-height: 1.23;
    margin-left: em(8,22);
  }

  &__button {
    background: $blue;
    border-radius: em(4);
    width: em(136);
    height: em(40);
    font-size: em(16);
    font-weight: $bold;
    color: white;
    border: 0;
  }
}