@import "layout/var";

.card {
  background: white;
  box-shadow: 0 0 em(21) 0 rgba(0, 0, 0, 0.11);
  padding: em(20) 0 em(24);
  overflow-x: hidden;
  margin-top: em(24);

  &:first-child {
    margin-top: 0;
  }

  &__title {
    font-size: em(18);
    font-weight: $bold;
    color: $main-grey;
    margin: 0 $side-padding;
  }

  &__head {
    display: flex;
    margin: 0 $side-padding;
  }

  &__icon {
    margin-top: em(6);
  }

  &__head-num {
    margin-left: em(16,43);
    font-size: em(43);
    line-height: 1.0;
    font-weight: $bold;
    font-family: $top-title-font;
  }

  &__head-text {
    font-size: em(14);
    font-weight: $bold;
    margin-left: em(13,14);
    line-height: 1.29;
    align-self: flex-end;
    margin-bottom: em(2,14);
  }

  &__head-aqua {
    color: $aqua;
  }

  &__subtitle {
    font-size: em(14);
    font-weight: $bold;
    color: $main-grey;
    line-height: 1.43;
    margin: em(27,14) em(15,14) 0;
  }

  &__award {
    margin: 0 em(15,12);
    font-size: em(12);
    font-weight: $bold;
    line-height: 1.17;
    padding-left: em(44,12);
    height: em(32,12);
    display: flex;
    align-items: center;
    position: relative;
    width: em(95,12);
    margin-top: em(12,12);

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: em(32,12);
      height: em(32,12);
      left: 0;
      top: 0;
      background-position: center;
      background-size: cover;
    }

    &--choice {
      color: $green;

      &:before {
        background-image: url('../img/award-choice.svg');
      }
    }

    &--price {
      color: $purple;

      &:before {
        background-image: url('../img/award-price.svg');
      }
    }
  }

  &__photos {
    margin-top: em(19);
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar-button {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
  }

  &__image {
    width: em(288);
    height: em(200);
    border-radius: em(4);
    background-size: cover;
    background-position: center;
    margin-right: em(4);
    flex-shrink: 0;

    &:first-child {
      margin-left: $side-padding;
    }
  }

  &__boat-description {
    display: flex;
    margin: em(16) $side-padding em(4);
  }

  &__boat-status {
    margin: 0!important;
    color: white;
    border-color: transparent;

    &--premium {
      background: linear-gradient(to right, #f2ce00, #e0a000);
    }

    &--comfort_plus {
      background: linear-gradient(to right, #be53c7, #4f35c4);
    }

    &--comfort {
      background: linear-gradient(to right, #5dc2d0, #1673d9);
    }

    &--econom {
      background: linear-gradient(to right, #a8c215, #31a767);
    }
  }

  &__description {
    margin: $side-padding $side-padding 0;
  }

  &__text-line {
    display: flex;
    margin-bottom: em(7);
  }

  &__text {
    font-size: em(12);
    line-height: em(20,12);
    position: relative;
    display: block;
    color: $main-grey;
    margin: 0;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      background-size: cover;
    }

    &--place {
      padding-left: em(24,12);

      &:before {
        top: 0;
        width: em(20,12);
        height: em(20,12);
        background: url('../img/place.svg') no-repeat center;
      }
    }

    &--marker {
      padding-left: em(17,12);
      margin-left: em(11,12);

      &:before {
        width: em(6,12);
        height: em(6,12);
        background: $body-color;
        border-radius: 50%;
        top: em(7,12);
      }
    }

    &--fire {
      padding-left: em(24,12);
      color: $orange;

      &:before {
        top: 0;
        width: em(20,12);
        height: em(20,12);
        background: url('../img/fire.svg') no-repeat center top;
      }
    }

    &--eco {
      padding-left: em(24,12);
      color: $green;

      &:before {
        top: 0;
        width: em(20,12);
        height: em(20,12);
        background: url('../img/eco.svg') no-repeat center;
      }
    }

    &--bold {
      font-weight: $bold;
    }
  }

  /*&__stars {
    display: flex;
    align-items: center;
    margin-left: em(6);
  }

  &__star-wrap {
    margin-left: em(3.8);
    width: em(13);
    height: em(13);
  }

  &__star {
    opacity: 0.2;

    &--full {
      opacity: 1;
    }
  }*/

  &__options {
    margin-top: em(35);

    &--boat {
      margin-top: em(23);
    }
  }

  &__bottom {
    margin: em(32) $side-padding 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--small_top {
      margin-top: em(13);
    }

    &--boat {
      margin-top: em(24);
    }
  }

  &__price {
    color: $aqua;
    font-family: $top-title-font;
    font-size: em(16);
    display: flex;
    align-items: center;
  }

  &__amount {
    font-size: em(22,16);
    line-height: 1.23;
    margin-left: em(8,22);

    &--no_left {
      margin-left: 0;
    }
  }

  &__button {
    background: $blue;
    border-radius: em(4);
    width: em(136);
    height: em(40);
    font-size: em(16);
    font-weight: $bold;
    color: white;
    border: 0;
  }




  /*&__sun {
    position: relative;
    height: em(24);
    margin: em(19) $side-padding em(11);
    padding: 0 em(36);
    display: flex;
    align-items: center;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: em(24);
      height: em(24);
      background: url('../img/sunrise.svg');
      background-size: cover;
      top: 0;
      left: 0;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: em(24);
      height: em(24);
      background: url('../img/sunset.svg');
      background-size: cover;
      top: 0;
      right: 0;
    }
  }

  &__sun-line {
    width: 100%;
    height: em(6);
    background: $body-color;
    border-radius: em(4.5);
  }

  &__sun-duration {
    height: em(6);
    border-radius: em(3);
    background: $aqua;
    display: block;

    &--start_6 {
      margin-left: em(27);
    }

    &--time_4 {
      width: em(63);
    }

    &--time_6 {
      width: em(95);
    }
  }*/
}