@import "layout/var";

.card {
  background: white;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.11);
  padding: 20px 0 24px;
  overflow-x: hidden;
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }

  &__title {
    font-size: 18px;
    font-weight: $bold;
    color: $main-grey;
    margin: 0 $side-padding;
  }

  &__award {
    margin: 0 $side-padding;
    font-size: 12px;
    font-weight: $bold;
    line-height: 1.17;
    padding-left: 44px;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    width: 95px;
    margin-top: 12px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      left: 0;
      top: 0;
      background-position: center;
      background-size: cover;
    }

    &--choice {
      color: $green;

      &:before {
        background-image: url('../img/award-choice.svg');
      }
    }

    &--price {
      color: $purple;

      &:before {
        background-image: url('../img/award-price.svg');
      }
    }
  }

  &__photos {
    margin-top: 19px;
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar-button {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
  }

  &__image {
    width: 288px;
    height: 200px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    margin-right: 4px;
    flex-shrink: 0;

    &:first-child {
      margin-left: $side-padding;
    }
  }

  &__description {
    margin: $side-padding $side-padding 0;
  }

  &__text-line {
    display: flex;
    margin-bottom: 7px;
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
    position: relative;
    display: block;
    color: $main-grey;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
    }

    &--place {
      padding-left: 24px;

      &:before {
        top: 0;
        width: 20px;
        height: 20px;
        background: url('../img/place.svg') no-repeat center;
      }
    }

    &--marker {
      padding-left: 17px;
      margin-left: 11px;

      &:before {
        width: 6px;
        height: 6px;
        background: $body-color;
        border-radius: 50%;
        top: 7px;
      }
    }

    &--fire {
      padding-left: 24px;

      &:before {
        top: 0;
        width: 20px;
        height: 20px;
        background: url('../img/fire.svg') no-repeat center top;
      }
    }

    &--bold {
      font-weight: $bold;
    }

    &--fire {
      color: $orange;
    }
  }

  &__options {
    margin-top: 25px;
  }

  &__bottom {
    margin: 32px $side-padding 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    color: $aqua;
    font-family: $top-title-font;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  &__amount {
    font-size: 22px;
    line-height: 1.23;
    margin-left: 8px;
  }

  &__button {
    background: $blue;
    border-radius: 4px;
    width: 136px;
    height: 40px;
    font-size: 16px;
    font-weight: $bold;
    color: white;
    border: 0;
  }
}