@import "layout/var";

.popup {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: em(6);
  box-shadow: 0 em(-9) em(30) 0 rgba(0, 0, 0, 0.11);
  background-color: white;
  z-index: 1000;

  &--big {
    top: em(80);
  }

  &--center {
    width: auto;
    left: $side-padding;
    right: $side-padding;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: em(40) $side-padding;
    box-shadow: 0 em(2) em(21) 0 rgba(0, 0, 0, 0.11), 0 em(2) em(3) 0 rgba(0, 0, 0, 0.04);
  }

  &__image {
    display: flex;
    justify-content: center;
    padding: em(6);
    margin-bottom: em(4);
  }

  &__title {
    color: $light-grey;
    font-size: em(23);
    line-height: 1.17;
    font-weight: $bold;
    text-align: center;
    margin-bottom: em(32,23);
  }

  &__text {
    font-size: em(14);
    line-height: 1.43;
    margin: 0;
    padding-bottom: em(16,14);
  }
}