@import "layout/var";

.form {

  &--bottom_line {
    padding-bottom: em(17);
    border-bottom: em(1) solid $body-color;
  }

  &--index {
    background: white;
  }

  &__flex {
    display: flex;
  }

  &__item {
    padding: em(12) $side-padding em(16);
    position: relative;

    &--half {
      width: 50%;
      flex-shrink: 0;
    }
  }

  &__label {
    color: $back-grey;
    font-size: em(14);
    display: block;
    line-height: 1.43;
    margin-bottom: em(6,14);
  }

  &__input {
    border-radius: em(4,16);
    font-size: em(16);
    font-weight: $bold;
    line-height: 1.5;
    border: em(1,16) solid $body-color;
    display: block;
    padding: em(7,16) em(16,16);
    box-sizing: border-box;
    width: 100%;
    color: $main-grey;

    &--with_icon {
      padding-right: em(40);
    }
  }

  &__input-icon {
    width: em(24);
    height: em(24);
    background-position: center;
    background-size: em(18) em(20);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: em(24);
    right: em(24);
  }

  &__textarea {
    border-radius: em(4,16);
    font-size: em(16);
    font-weight: $bold;
    line-height: 1.5;
    border: em(1,16) solid $body-color;
    display: block;
    padding: em(7,16) em(16,16);
    box-sizing: border-box;
    width: 100%;
    height: em(112, 16);
    color: $main-grey;
    resize: none;
  }

  &__button {
    margin-top: em(4,16);
  }
}