@import "layout/var";

.header {
  padding: em(15) $side-padding em(14);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    flex-shrink: 0;
    display: flex;
  }

  &__logo-text {
    font-size: em(14);
    line-height: 1.21;
    margin-left: em(13,14);
    color: $blue;
    width: em(133,14);
  }

  &__menu {

  }

  &__menu-button {
    padding: 0;
    border: 0;
    background: transparent;
  }
}