@import "layout/var";

.header-index {
  background: url('../img/bg-main.jpg') center;
  background-size: cover;
  padding: em(17) $side-padding em(26);

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: white;
    font-size: em(23);
    font-family: $top-title-font;
    line-height: 1.17;
    width: em(202,23);
    margin-top: em(83,23);
  }
}